@using Microsoft.AspNetCore.Identity
@model IdentityUser

@{
	ViewData["Title"] = "Delete";
}

<div>


	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />

		<a asp-action="Index"><input type="button" value="Back" class="btn btn-secondary" /></a>
	</form>
</div>
