@{
    ViewData["Title"] = "DashBoard";
}
<a href="/items">
    <img class="dashboardicon" src="~/img/edit-drug.png" />
</a>
<a href="/users">
    <img class="dashboardicon" src="~/img/edit-user.png" />
</a>